@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './_vars.sass';

body
    padding: 0
    margin: 0

.App 
    display: flex
    background-color: gray
    min-height: 100vh
    min-width: 100%

.link
    color: inherit;
    text-decoration: inherit;

