@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
#navbar-container {
  background-color: #24292E;
  color: white;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Open Sans", sans-serif;
}

#navbar-container #logo-container {
  border-bottom: 2px solid #BCBFC0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
  padding-right: 25px;
}

#navbar-container #logo-container #regiment {
  padding-left: 3.5px;
}

#navbar-container #logo-container img {
  margin-top: auto;
  margin-bottom: auto;
}

#navbar-container #logo-container:hover {
  opacity: 0.75;
}

#navbar-container #button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.6);
}

#navbar-container #button-list .button-container {
  display: table;
  background-color: transparent;
  width: 100px;
  height: 100%;
}

#navbar-container #button-list .button-container p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#navbar-container #button-list .button-container:hover {
  color: white;
  -webkit-transition: 0.123758s;
  transition: 0.123758s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#navbar-container #button-list .active {
  color: white;
  border-bottom: 3px solid #43b581;
}

#navbar-container #filler {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#navbar-container #enlist-container {
  height: 100%;
  width: 200px;
  text-align: center;
  background-color: #43b581;
}

#navbar-container #enlist-container #enlist-text {
  height: 100%;
  padding-top: 15%;
  display: block;
  font-size: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.75;
}

#navbar-container #enlist-container #enlist-text:hover {
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 10px;
  opacity: 1;
}

#page-outer {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(255, 255, 255, 0.75);
  min-height: calc(100vh - 96px);
  width: 100vw;
}

#page-outer #page-inner {
  padding: 25px;
}

#equipment-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#equipment-inner #middle {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tab-container {
  height: 64px;
  width: 600px;
  border-radius: 0.625rem;
  background-color: white;
  -webkit-box-shadow: 0.2rem 0.2rem 0 rgba(233, 236, 239, 0.5);
          box-shadow: 0.2rem 0.2rem 0 rgba(233, 236, 239, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tab-container .tab-button {
  display: table;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

#tab-container .tab-button span {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#tab-container .tab-button:hover {
  background-color: rgba(233, 236, 239, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

#tab-container .active {
  background-color: rgba(233, 236, 239, 0.5);
}

.tab-item-container {
  margin-top: 10px;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.825);
  border-radius: 0.625rem;
  opacity: 0.75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tab-item-container #inner {
  padding-left: 20px;
  line-height: 48px;
}

.tab-item-container #inner #name {
  font-weight: 600;
}

.tab-item-container #inner #type {
  font-weight: 500;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.tab-item-container:hover {
  background-color: rgba(233, 236, 239, 0.5);
  margin-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.tab-item-container.active {
  background-color: rgba(233, 236, 239, 0.5);
  margin-left: 10px;
  opacity: 1;
}

.tab-desc-container {
  margin-left: 25px;
  width: 800px;
  background-color: white;
  border-radius: 0.625rem;
  opacity: 0.75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tab-desc-container img {
  height: 300px;
  border-radius: inherit;
  width: 100%;
}

.tab-desc-container #inner {
  padding-left: 25px;
  padding-top: 10px;
}

.tab-desc-container #inner #title {
  font-size: 23.5px;
  font-weight: 700;
}

.tab-desc-container #inner #undertitle, .tab-desc-container #inner #type {
  opacity: 0.75;
}

.tab-desc-container #inner #type {
  float: right;
  padding-right: 25px;
}

.tab-desc-container #inner #description {
  padding-right: 25px;
  padding-bottom: 25px;
}

#enlist-center {
  margin: auto auto;
  width: 640px;
  border-radius: 0.625rem;
  background-color: white;
  -webkit-box-shadow: 0.2rem 0.2rem 0 rgba(233, 236, 239, 0.5);
          box-shadow: 0.2rem 0.2rem 0 rgba(233, 236, 239, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#enlist-form {
  margin-top: 15px;
  padding: 20px;
}

#enlist-form h4 {
  text-align: center;
}

#enlist-form .lighter {
  opacity: 0.75;
}

#enlist-form #fine {
  margin-top: 10px;
  font-size: 12px;
}

#enlist-form .hide {
  -webkit-transition: 2s;
  transition: 2s;
  display: none;
}

body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gray;
}

.link {
  color: inherit;
  text-decoration: inherit;
}
/*# sourceMappingURL=app.css.map */